<div class="flex h-[100vh] items-center justify-center">
  <div class="bg-fond-dark rounded-lg lg:w-[40%]">
    <form
      class="flex flex-col m-20"
      [formGroup]="formdata"
      (ngSubmit)="onClickSubmit(formdata.value)"
    >
      <div class="text-white mb-8">
        <p class="text-xl">Your forgot your password ?</p>
        <span>We are gonna send you a mail to change your password.</span>
      </div>
      <label for="email" class="text-white">Email address</label>
      <input
        class="rounded-lg h-12 my-3 p-3 bg-white"
        name="email"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        class="text-cta bg-beige w-fit self-center p-6 rounded-lg my-4"
        type="submit"
        value="Send"
      />
      <div class="text-center">
        <a [routerLink]="['/login']" class="text-beige underline"> Back </a>
      </div>
    </form>
  </div>
</div>
