<div class="flex justify-center">
  <div class="w-1/2 flex justify-between text-center">
    <div class="w-[15%]">
      <img src="../../../assets/images/sign.svg" />
      <span class="text-beige relative top-[-40%]"
        ><a [routerLink]="['/play']"> World map</a></span
      >
    </div>
    <div class="w-[15%]">
      <img src="../../../assets/images/sign.svg" />
      <span class="text-beige relative top-[-40%]"
        ><a [routerLink]="['/inventory']"> Inventory</a></span
      >
    </div>
    <div class="w-[15%]">
      <img src="../../../assets/images/sign.svg" />
      <span class="text-beige relative top-[-40%]">Character</span>
    </div>
    <div class="w-[15%]">
      <img src="../../../assets/images/sign.svg" />
      <span class="text-beige relative top-[-40%]">Store</span>
    </div>
    <div class="w-[15%]">
      <img src="../../../assets/images/sign.svg" />
      <span class="text-beige relative top-[-40%]">Community</span>
    </div>
  </div>
</div>
