path:hover, path.selected {
    cursor: pointer;
    fill: #27D89C;
    stroke: black !important;
    stroke-width:2px;
    opacity: 0.3!important;
}

.selected {
    fill: #27689C !important;
}

.location g path, .location g circle {
    fill: #D7263D !important;
}
.location g path {
    opacity: 0.3 !important;
}
.location g circle {
    opacity: 1 !important;
}

g {
    stroke:black;
}

circle {
    fill:rgb(255, 209, 156)
}
circle:hover {
    cursor: pointer;
    fill: #27D89C !important;
    stroke: black !important;
    stroke-width:2px;
}
path:hover{
    cursor: pointer;
    fill: #27D89C;
    stroke: black !important;
    stroke-width:2px;
    opacity: 0.3 !important;
}

app-header {
    z-index:10;
    position: sticky;
}