@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ADDBB9;
}
.bodybg {
    background-image: url("assets/images/background.png");
}
mat-dialog-container {
    background-color: greenyellow !important;
 }